!!! 5

%html
  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='initial-scale=1, maximum-scale=1.0')
    %title Hire Isaac Valadez
    %link(rel='icon' href='/favicon.ico?' type='image/x-icon')
    %link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Josefin+Sans:300italic' rel='stylesheet' type='text/css')
    %link(rel='stylesheet' href='/main.css' type='text/css' media='screen' title='default style sheet')
  %body
    #content
      %header
        %h1 Isaac Valadez
        %p <a href='/resume.pdf' target="_blank">PDF Resume</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='https://www.linkedin.com/in/amadeo-valadez-5952482a' target="_blank">LinkedIn Profile</a>
      #nav
        %ul
          %a(href='#top')
            %li &nbsp;&nbsp;Employment&nbsp;&nbsp;
          %a(href='#education')
            %li &nbsp;&nbsp;Education&nbsp;&nbsp;
          %a(href='#skills')
            %li &nbsp;&nbsp;Skills&nbsp;&nbsp;
          %a(href='#achievements')
            %li &nbsp;&nbsp;Achievements&nbsp;&nbsp;
          %a(href='#affiliations')
            %li &nbsp;&nbsp;Affiliations&nbsp;&nbsp;
      #index
        %h2 Employment
        %h3 Global New Product Operations Engineer
        %h4 Moonshot & Edgeline
        %h5 Hewlett Packard Enterprise (April 2015 - Current)
        %ul
          %li
            %p Coordinated complex milestones with regional supply chain factories, R&D, and various suppliers to release new server products to the market.
          %li
            %p Managed launch activities as the global supply chain single-point-of-contact for the launch of all HP Moonshot products, as well as the new HP Edgeline product line for IoT (“Internet of Things”) solutions.
        %h3 Americas New Product Introductions Engineer 
        %h4 Blade Servers
        %h5 Hewlett Packard (January 2014 - April 2015)
        %ul
          %li
            %p Managed the launch of Gen9 blade servers in the Americas region manufacturing sites, and supported the fulfillment of a $4 million early-delivery order for these new servers.
          %li
            %p Gained recognition for making major SharePoint improvements that directly resulted in team recognition for improved outward communications.
        %h3 Web Development Project Manager
        %h5 Ziqqu and Ziqqu LLC (Winter 2012- Fall 2015)
        %ul
          %li
            %p Managed the development of two enterprise web applications, from concept to realization.
          %li
            %p Developed the concept for a web application to meet the needs of Baylor University, then refined the concept into a concrete scope of work.
        %h3 Product Development Engineer
        %h5 Nova Biologicals (Winter 2012- Summer 2013)
        %ul
          %li
            %p Led the design, construction, and installation of a municipal water wellhead anti-terrorism device.
          %li
            %p Utilized design engineering skills including tamper proofing principles, SolidWorks modeling, cost estimation, and manufacturability analysis.
        %h3 Program Developer/Leader
        %h4 Baylor Innovation Challenge
        %h5 Baylor University (Spring 2013)
        %ul
          %li
            %p Hand-picked by the Baylor Engineering Department to develop and implement a program where engineering students brainstorm solutions for technical issues in developing countries.
          %li
            %p Worked with limited grant funds and successfully held 15 events in 3 months (reached all goals under budget).
        %h3 Logistics Integrator Engineering Intern
        %h4 International Space Station Launch Planning
        %h5 Hamilton Sundstrand (Summer 2012)
        %ul
          %li
            %p Used proficiency in Microsoft Access to design and construct a software application which is used to plan International Space Station launch manifests.
          %li
            %p Commended by management because the logistics integration team was able to switch from excel-based reporting to automated reporting through MS Access.
        %h2(id='education') Education
        %h3 Baylor University
        %h4 Class of 2013 
        %br                 
        %h5 Major:
        %p Bachelor of Science in Engineering 
        %h6 *Included Mechanical Engineering core
        %br 
        %h5 Minors:
        %p Mathematics
        %p(class='inline') Entrepreneurship
        %h6(class='inline') *equivalent
        %h2(id='skills') Skills
        .skill
          %h3 Software
          %p Ruby on Rails & Sinatra
          %p HTML
          %p CSS
          %p Javascript
          %p SolidWorks
          %p TI-89
          %p Matlab
          %p +9 Microsoft Programs
        .skill
          %h3 Professional
          %p Project Management
          %p Mechanical Design
          %p Distributed Teams
          %p Supply Chain Strategy
          %p Global Manufactoring Logistics
          %p Web Development
          %p Graphic Design
          %p Puplic Speaking
        %h2(id='achievements') Achievements
        %h3 Senior Design Project Team Lead
        %h5 Nova Biologicals (2012)
        %ul
          %li
            %p Led a Baylor mechanical design team in the development of a wellhead security device.
          %li
            %p My team completely redesigned and simplified the device as part of a senior design project and improved performance while reducing costs by 78%.
        %h3 Engineering Team Lead 
        %h5 Baylor University (Nicaragua, 2012)
        %ul
          %li
            %p Hand-picked by Baylor Marketing Department to lead the technical aspects of this project.
          %li
            %p Team traveled to Nicaragua to evaluate the market potential of a solar water pasteurizer.
          %li
            %p Redesigned the device while in the country to meet market demands.
        %h3 Design Engineer
        %h5 Engineers with a Mission (Honduras, 2010)
        %ul
          %li
            %p Drafted, designed and built a 12kW hydroelectric generator motor mount for an orphanage in Honduras while still a freshman in college.
          %li
            %p The generator has been in constant use since installation in the summer of 2010.
        %h2(id='affiliations') Affiliations
        %ul
          %li
            %p Engineer In Training (EIT) Status
          %li
            %p Co-Inventor on the CVSD patent (Casing Vent Security Device designed for Nova Biologicals)
          %li
            %p President’s Gold Scholarship ($44,000)
          %li
            %p Engineers with a Mission
    %footer
      #contact
        %p <a href='tel://1-832-296-7178'>832.296.7178</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href='mailto:hello@isaacvaladez.com'>hello@isaacvaladez.com</a>
      #github
        %p Check out my code for this webpage on <a href="https://github.com/aiv55/portfolio" target="_blank">Github</a>
    #share
      %a(href="https://www.facebook.com/sharer/sharer.php?u=isaacvaladez.com" target='_blank') <svg enable-background="new 0 0 48 48" id="Layer_1" version="1.1" viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="24" cy="24" fill="#4E71A8" r="24"/><path d="M29.9,19.5h-4v-2.6c0-1,0.7-1.2,1.1-1.2c0.5,0,2.8,0,2.8,0v-4.4l-3.9,0c-4.4,0-5.3,3.3-5.3,5.3v2.9h-2.5V24  h2.5c0,5.8,0,12.7,0,12.7h5.3c0,0,0-7,0-12.7h3.6L29.9,19.5z" fill="#FFFFFF"/></svg>
      %a(href="https://www.linkedin.com/shareArticle?mini=true&url=isaacvaladez.com&title=Check%20out%20this%20resume&summary=&source=" target='_blank') <svg enable-background="new 0 0 48 48" id="Layer_1" version="1.1" viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="24" cy="24" fill="#1686B0" r="24"/><path d="M17.4,34.9h-4.6V20.1h4.6V34.9z M14.9,18.2L14.9,18.2c-1.7,0-2.8-1.1-2.8-2.6c0-1.5,1.1-2.6,2.8-2.6  c1.7,0,2.8,1.1,2.8,2.6C17.7,17.1,16.7,18.2,14.9,18.2z M35.9,34.9h-5.3v-7.7c0-2-0.8-3.4-2.6-3.4c-1.4,0-2.1,0.9-2.5,1.8  c-0.1,0.3-0.1,0.8-0.1,1.2v8h-5.2c0,0,0.1-13.6,0-14.8h5.2v2.3c0.3-1,2-2.5,4.6-2.5c3.3,0,5.9,2.1,5.9,6.7V34.9z" fill="#FFFFFF"/></svg>
      %a(href="https://twitter.com/home?status=check%20out%20this%20cool%20guy's%20online%20resume%3A%20isaacvaladez.com" target='_blank') <svg enable-background="new 0 0 48 48" id="Layer_1" version="1.1" viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="24" cy="24" fill="#1CB7EB" r="24"/><g><g><path d="M36.8,15.4c-0.9,0.5-2,0.8-3,0.9c1.1-0.7,1.9-1.8,2.3-3.1c-1,0.6-2.1,1.1-3.4,1.4c-1-1.1-2.3-1.8-3.8-1.8    c-2.9,0-5.3,2.5-5.3,5.7c0,0.4,0,0.9,0.1,1.3c-4.4-0.2-8.3-2.5-10.9-5.9c-0.5,0.8-0.7,1.8-0.7,2.9c0,2,0.9,3.7,2.3,4.7    c-0.9,0-1.7-0.3-2.4-0.7c0,0,0,0.1,0,0.1c0,2.7,1.8,5,4.2,5.6c-0.4,0.1-0.9,0.2-1.4,0.2c-0.3,0-0.7,0-1-0.1    c0.7,2.3,2.6,3.9,4.9,3.9c-1.8,1.5-4.1,2.4-6.5,2.4c-0.4,0-0.8,0-1.3-0.1c2.3,1.6,5.1,2.6,8.1,2.6c9.7,0,15-8.6,15-16.1    c0-0.2,0-0.5,0-0.7C35.2,17.6,36.1,16.6,36.8,15.4z" fill="#FFFFFF"/></g></g></svg>
      %a(href="https://plus.google.com/share?url=isaacvaladez.com" target='_blank') <svg enable-background="new 0 0 48 48" id="Layer_1" version="1.1" viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="24" cy="24" fill="#E3411F" r="24"/><g><path d="M24.8,25.8c-0.7-0.5-2-1.7-2-2.3c0-0.8,0.2-1.2,1.4-2.2c1.2-1,2.1-2.3,2.1-3.9c0-1.9-0.8-3.7-2.4-4.4h2.4   l1.7-1.2h-7.5c-3.4,0-6.6,2.6-6.6,5.5c0,3,2.3,5.5,5.7,5.5c0.2,0,0.5,0,0.7,0c-0.2,0.4-0.4,0.9-0.4,1.4c0,0.8,0.5,1.5,1,2.1   c-0.4,0-0.9,0-1.3,0c-4.2,0-7.4,2.7-7.4,5.4c0,2.7,3.5,4.4,7.7,4.4c4.8,0,7.4-2.7,7.4-5.4C27.4,28.6,26.8,27.2,24.8,25.8z    M20.7,22.1c-1.9-0.1-3.8-2.2-4.1-4.7c-0.3-2.6,1-4.5,2.9-4.4c1.9,0.1,3.8,2.1,4.1,4.7C24,20.1,22.7,22.1,20.7,22.1z M20,35   c-2.9,0-5-1.8-5-4c0-2.2,2.6-4,5.5-3.9c0.7,0,1.3,0.1,1.9,0.3c1.6,1.1,2.7,1.7,3,3c0.1,0.3,0.1,0.5,0.1,0.8C25.5,33.2,24,35,20,35z   " fill="#FFFFFF"/><polygon fill="#FFFFFF" points="32.8,22.3 32.8,19.4 30.4,19.4 30.4,22.3 27.5,22.3 27.5,24.6 30.4,24.6 30.4,27.6 32.8,27.6    32.8,24.6 35.7,24.6 35.7,22.3  "/></g></svg>
      %a(href="mailto:?&subject=Check out this resume&body=I%20would%20like%20the%20share%20this%20resume%20with%20you%3A%20isaacvaladez.com" target='_blank') <svg enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Style_2"><g><path d="M16,0C7.163,0,0,7.163,0,16c0,8.836,7.163,16,16,16s16-7.164,16-16C32,7.163,24.837,0,16,0z" fill="#333333"/></g><g><polygon fill="#FFFFFF" points="6.518,21.815 11.707,15.291 6.518,12.119   "/><polygon fill="#FFFFFF" points="19.5,15.746 15.989,17.908 12.472,15.758 7.11,22.5 24.867,22.5   "/><polygon fill="#FFFFFF" points="15.988,16.864 25.482,11.017 25.482,9.5 6.518,9.5 6.518,11.076   "/><polygon fill="#FFFFFF" points="20.263,15.276 25.482,21.843 25.482,12.062   "/></g></g></svg>
  = haml(:_analytics, :layout => false)