!!! 5

%html
  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='maximum-scale=1.0')
    %title Hire This Guy
    %link(rel='stylesheet' href='/main.css' type='text/css' media='screen' title='default style sheet')
  %body
    #content
      %header
        %h1 Amadeo Isaac Valadez
      #index
        %p Content goes here!
      %footer
        %p Site designed and built by Isaac Valadez! <a href="https://github.com/aiv55" target="_blank">Github</a>
    = haml(:_analytics, :layout => false)